.product{
    width: 100%;
    margin: 70px auto;
}

.flexdeals{
    background-color: #E6F9E5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px ;
    width: 100%;
    margin: 5px auto;
}
.fast{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    text-align: center;
}
.flexi{
    /* display: flex; */
    /* text-align: center; */
    align-items: center;
    
    
}
.deals{
    width: 100%;
}
.fast > div {
    padding: 20px;
}
.fast > div *{
    padding: 10px ;
}
.producelist{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px ;
    width: 100%;
    margin: 5px auto;
    /* margin: 10px;
    padding: 20px 0; */
}.product h3{
    padding:  30px 10px ;
}
.producelistcontainer{
    width: 100%;
}
.producelistcontainer > h3{
    margin: 10px 20px;
}

li{
    list-style-type: none;

}
.li{
    box-shadow: 1px 2px 3px 1px rgba(20,20,20,0.4);
    padding: 20px;
    text-align: center;
    margin: 2px;
}
.popular{
    display: grid;
    grid-template-columns:  repeat(5, 1fr);
    margin: 40px 0 ;
    width: 100%;
    /* padding: auto; */
  
}
.spanbtn > * {
    background-color: #FFE178;
    padding: 10px;
    border-radius: 5px;
    margin-top: 0;
    margin-bottom: 60px;
    color: #081B11;

}
button[variant = "cart"]{
    background-color: #FFE178;
    border: transparent;
    padding: 7px 14px;
    border-radius: 14px;
   
}
.spanbtn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
   
    /* background-color: #FFE178; */
    
}
.spanbtn button{
    border: transparent;
    background-color: #FFE178;
}
.spanbtn button:hover{
    color: #07ed57;
}

.need p{
    padding: 20px auto;
    /* margin: 10px auto; */
}

.hand{
    display: flex;
    margin: 90px auto;
    width: 100%;
    padding: 40px auto;
}
.popularitem{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
    padding: auto;
}
@media screen and (max-width:780px){
    .flexdeals{
        width: 100%;
        font-size: 10px;
        display: grid;
        margin: 2px auto;
        grid-template-columns: 1fr;
        
       
    }
    .flexdeals > div  > p{
        /* font-size: 8px; */
        overflow: hidden;
    }
    .flexdeals > div :nth-child(3){
        margin-top: 40px;
    }
    .deals{
        width: 100%;
        margin: 10px auto;
        
        
      
    }
    .flexi{
        /* padding: 10px 20px;
        text-align: center;
        display: flex;
        justify-content: center;
        width: 100%; */
        text-align: center;
    }
    .deals{
        margin-top: 70px;
        width: 100%;

    }
    .deals p{
        text-align: center;
        padding: 10px 0;
        font-size: 13px;
    }
    .producelistcontainer{
        width: 100%;
        margin: auto;

    }
    .producelistcontainer > ul{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        text-align: center;

    }
    .popularitem{
        width: 80%;
        text-align: center;
        
    }

    .popular{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        font-size:12px ;
        margin: auto;
        text-align: center;
        padding: 10px ;
        width: 100%;
        /* overflow: hidden; */
        
    }
    .popular .li{
        font-size: 9px;
        /* text-align: center; */

    }
    .hand{
        display:grid;
        grid-template-columns: 1fr;
        width: 100%;
    }
    .need h3{
        padding:  auto;
        text-align: center;

    }
    .need > p{
        padding: 10px 0;
        text-align: center;
    }
    .popularimg{
        width: 100%;
      
        text-align: center;
    }
    button[variant = "cart"]{
        font-size: 8px;
    }
 
    
   
    
}
@media screen and (max-width:600px){
    .popular{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin: auto;
        /* text-align: center; */
        padding: 11px ;
        width: 100%;
        overflow: hidden;
        
    }
    button[variant = "cart"]{
        font-size: 5px;
    }
    .popular .li{
        font-size: 10px;
        padding: 10px;
        /* text-align: center; */

    }
    .popularitem{
        font-size: 2px;
    }
    .fast{
        display: block;
    }
}


@media screen and (max-width:400px){
    .popular{
        display: grid;
        grid-template-columns:1fr;
        margin: auto;
        /* text-align: center; */
        padding: 11px ;
        width: 100%;
        overflow: hidden;
        
    }
    button[variant = "cart"]{
        font-size: 5px;
    }
    .popular .li{
        font-size: 10px;
        padding: 10px;
        /* text-align: center; */

    }
     .producelistcontainer > ul{
        display: grid;
        grid-template-columns: 1fr;
       
        
        text-align: center;

    }
    .flexi{
        display: block;
    }
    .flexi p{
        font:smaller;
    }
    .fast{
        display: block;
        text-align: center;
    }
}

