*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.formflex{
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
   width: 100%;
   padding: 3px 0;
   height: 100%;
   overflow: hidden;
   margin-top: 72px;
   background-repeat: no-repeat;
   background-image: url("https://images.pexels.com/photos/196643/pexels-photo-196643.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
   /* background: linear-gradient(rgba(34, 243, 94, 0.5), rgba(3, 11, 4, 0.5)), url("https://images.pexels.com/photos/2252584/pexels-photo-2252584.jpeg?auto=compress&cs=tinysrgb&w=600"); */
   background-size: cover;
   background-position: center;
   /* background-color: hsl(0, 48%, 76%); */
}
.formaction{
    background-color: #EBF6EF;
    height: 450px;
    padding: 20px;
    width: 350px;
    border-radius: 10px;
    margin: 30px 50px 20px 0;
    /* position: fixed;
    top: 70px;
    right: 30px; */
    
}
form h3{
    padding: 2px 0;
}
input{
    width: 100%;
    padding: 4px;
    border-radius: 3px;
    border: transparent;
}
.labelone{
    /* margin: 1px auto; */
    padding: 4px 0;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    
}

.labeltwo{
    margin: 4px 0;

}

.wrap{
    margin: 40px ;
    padding: 100px 0;
    
}
.wrap h2 {

 
    font-weight: 900;
    font-size: 30px;
    color: white;
}
.wrap p{
    font-size: 16px;
    padding: 10px 0;
    color: black;
    color: white;
  
}
.formflex p{

}
.btno[variant = "primary"]{
    background-color: #FFE178;
    padding: 5px;
    width: 100%;
    border: transparent;
    margin: 8px auto;
    color: 000000;
    border-radius: 6px;
}
.formactiontwo{
    background-color: #f1f7e7;
    height: 600px;
    padding: 20px;
    width: 400px;
    border-radius: 10px;
    margin: 30px 40px 20px 40px;
    
}

.formflextwo{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-top: 70px;
    padding: 10px 0;
    height: 700px;
    background-image: url("https://images.pexels.com/photos/257794/pexels-photo-257794.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    /* background: linear-gradient(rgb(39, 66, 39), rgba(35, 234, 55, 0.5)), url(https://images.pexels.com/photos/5231012/pexels-photo-5231012.jpeg?auto=compress&cs=tinysrgb&w=600); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.noaccount{
    color: #595959;
}

.noaccount p{
    /* padding: 2px 0; */
}
.noaccount a{
    color: #595959;
    text-decoration: none;
    font-weight: bolder;
}
.modal{
    position: fixed;
    top: 90px;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    /* z-index: 99999999; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.modalsign{
    box-shadow: 1px 2px 3px 1px rgba(20,20,20,0.4);
    padding: 10px ;
    color: rgba(246, 254, 255, 0.5);
    text-align: center;
    z-index: 999999;
}
.modalsign button{
    padding: 10px 10px;
}
.consumer{
    background-color: #EBF6EF;
    width: 500px;
    margin: 200px auto;
    padding: 40px;
   
}
.consumer form input {
    padding: 8px;
}
.consumerheader{
    text-align: center;
    padding: 30px;
  
}


.selected {
    background-color: rgb(0, 255, 162) !important;
    font-weight: bolder;
    cursor: pointer;
}
.consumer ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.consumer p{
    padding-top: 20px;
    padding-bottom: 20px;
}
.consumer li{
    background-color: aliceblue;
    border: 1px solid black;
    text-align: center;
    width: 140px;
    border-radius: 8px;
    margin-bottom: 5px;
    padding: 10px;
}.consumer button{
    padding: 10px;

}
.consumer form label{
    padding: 10px 0;
;
}
.consumer form{
    padding: 10px;
}

.btno[variant = "padded"]{
    padding: 15px;
    width: 100%;
    border: none;
    background-color: #FFE178;
    margin: 80px auto;

}
.farmerradio{
    background-color: white;
    padding: 10px;
}