body{
    background-color: #FFFFFF;
    height: 1000px;
}
.nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(124, 184, 124);
    z-index: 999999;
    padding: 0 40px;
}
.nav ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;


}

.nav li :hover{
    background-color: #9bf1b8;
    padding: 10px;
}
.nav a{
    text-decoration: none;
    color: #1E1E1E;
    padding: 7px 15px;
    
}
.section{
    text-align: center;
    margin: 10px auto;
}
.para{
    margin: 70px;
}
.para :nth-child(1){
    padding: 20px;
    font-size: x-large;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 35px;
    /* width: 100% */
}
.para:nth-child(2){
    font-size: 13px;
    padding: 5px;
    /* margin: 5px; */
}
img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }
.spanbtn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
   
    /* background-color: #FFE178; */
    
}
.spanbtn > * {
    background-color: #FFE178;
    padding: 10px;
    border-radius: 5px;
    margin-top: 0;
    margin-bottom: 60px;
    color: 081B11;

}

.spanbutton :hover{
    color: #07ed57;
}
.spanbtn button{
    padding: 2px auto;
    background-color: #FFE178;
    border: none;
    border-radius: 7px;
  
}
.fleximage{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.footer{
    height: 300px;
    width: 100%;
    background-color: #081B11;
    color: #FFFFFF;
    padding: 50px;
    /* margin: 20px auto; */
    overflow: hidden;
}
.flexitemm{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.connect { 
    padding: 25px 0;
    line-height: 30px;

}
.flexnav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px auto;

}

.flexnav > * {
margin-left: 70px;
}
.navbar ul{
    list-style: none;
    margin: 10px auto;
    
    
}
.navbar li{
    padding: 10px 0;

}

.navbar a{
    text-decoration: none;
    color: #FFFFFF;
    
}.agrolink{
    padding: 30px 0;
}
.numerals{
    background-color: #E6F9E5 ;
    color: #08F25A;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    width: 1240px;
    margin: 30px auto;
    border-radius: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.farmers{
    color: #001E00;
    font-size: larger;
    padding: 20px auto;
}
.numspan{
    color: #08F25A;
    font-weight: 900;
}
.sectionabout{
    display: flex;
    height: 320px;
    align-items: center;
    justify-content: space-between;
    margin: 50px auto;
    gap: 20px;
    padding: 20px;
}
.about{
    padding: 10px 0;

}
.about h1{
    padding: 10px 0;
}
.about p{
    padding: 10px 0;
}


.discover{
    display: flex;
    /* height: 320px; */
    align-items: center;
    justify-content: space-between;
    margin: 30px auto;
    gap: 20px;
    padding: 20px;
    background-color: #FFE178;
    height: 450px;
    border-radius: 10px;
    width: 1220px;
    
}
.connectcon{
    background-color: #C6AF63;
    margin: 12px auto;
    display: flex;
    border-radius: 10px;
    justify-content: space-around;
    align-items: center;
}
.hh h1{
    padding-top: 20px;
    padding-bottom: 10px;
   
}

.hh p{
    padding-bottom: 20px;
}
.help{
    background-color: #EBF6EF;
    height: 300px;
    /* border-radius: 10px; */
    /* width: 1220px; */
    /* margin-bottom: 40px; */
    padding: 20px 0;
    text-align: center;
}
.welcome{
    padding: 20px 0;
   

}
.welcome h1 {
    padding: 10px 0;

}
.glad p{
    padding: 10px;
    line-height: 20px;
}
.select{
    padding: 10px;
    width: 100%;
    border-radius: 10px;
}
.testimonial{
    text-align: center;
    font-size: larger;
    font-weight: 900;
    padding: 20px 0;
}
.nextcon{
    position: relative;
}
.next{
    position: absolute;
    left: 50px;
    top: 50%;
    background-color: #04AA6D;
    color: white;
}
.nextcon a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}
.nextcon a:hover {
    background-color: #ddd;
    color: black;
  } 
.previous{
    position: absolute;
    right: 50px;
    bottom: 50%;
    background-color: #04AA6D;
    color: white;

}
.avatarflex{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.customer p{
    font-size: larger;
    line-height: 20px;
    padding: 40px 0;
}
.testimonialcon{
    margin: 30px auto;
    width: 1220px;

}

.customer{
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    column-gap: 20px;
    text-align: center;
    height: 250px;
    border-radius: 100px;

}
.customeravatar{
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    column-gap: 20px;
    text-align: center;
    height: 100px;
    border-radius: 100px;

}
.customeravatar > div{
    background-color: #C3E5D0;
}
.customer > div{
    background-color: #EBF6EF;
}

