.productsection{
    background-color: #FFFFFF;
    display: flex;
    margin: 10px auto;
    height: 1600px;
    width: 100%;
    
   
   
}
.dropflex{
    display: flex;
}
.dropflex > .toggle{
    background-color: none;
}
.comp{
    height: 1100px ;
    position: relative;
    background-color: #E6F9E5;
    width: 300px;
    border: 1px solid black;
    margin: 90px 0;
}
.details{
    
    display: flex;
    justify-content: space-between;
    border: none;
    padding: 20px 0;
    margin: 0 30px;
  

}
.shop button{
    border: none;
    padding: 10px 0;
    background-color: transparent;

}
.shop li{
    padding: 10px 0;
}
button a{
    text-decoration: none;
    padding: 10px 0;
}
.details button{
    border: none;
    text-align: center;
    background-color: transparent;
    
}
.detailss{
    display: flex;
    justify-content: space-between;
    margin: 0 30px;
    position: absolute;
    bottom: 25px;
    
   
    /* margin-top: 50px; */
   
  
}
ul{
    /* display: none; */
   
}
li{
  
    padding: 10px;
}
li a{
    color: black;
    padding: 10px;
    
}
a{
    text-decoration: none;
    color: black;
}


.editproduct{
   
    margin: 10px auto;
    width: 100%;
    height: 1100px ;
    margin: 90px 0;
    padding: 30px;

}
.overview{
    display: flex;

    gap: 15px;
}
.overview :hover{
    text-decoration: underline;
}
.formproduct{

    width: 100%;
    
}

.bcome{
    margin-top: 50px;
}
.formproduct input{
    border: 1px solid #000000;
    padding: 10px;
    border-radius: 5px;
}
.searchflex{
    display: flex;
    position: relative;
}
.magnifier{
    position: absolute;
    right: 7px;
    bottom: 5px;
    top: 15px;
  
}
.formflex{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    padding: 20px 0;

}
.img{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.input{
    position: relative;
    /* width: 150px;
    height: 100px; */
    margin: 0 15px;
}
.pic{
    position: absolute;
    top: 50px;
    bottom: 10px;
    right: 10px;
    left: 60px;
}
.price{
    display: flex;
    /* justify-content: space-between; */
    gap: 50px;
}
.quality{
    width: 40%;
    padding: 5px 0;
}
.btnflex{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 40px 0;
    /* margin: 10px 0; */
    gap: 15px;
}
label{
    font-weight: 800;
    padding: 10px 0;
}
button[variant = "cartt"]{
    background-color: #FFE178;
    border: transparent;
    padding: 10px 15px;
    border-radius: 6px;
}
/* overview */

.editproductt{
   
    margin: 10px auto;
    width: 100%;
    /* height: 900px ; */
    margin: 90px 0;
    padding: 30px;


}
.classflex{
    display: flex;
    gap: 5px;
}
.tubersflex{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    padding: 20px 0;
    
}
.imgflexxx > * {
    /* padding: 10px 0; */
    /* height: 400px; */
  
}
.imgflexxx :nth-child(1){
    margin-bottom: 20px;
}
.imgflexxx :nth-child(2){
    margin-top: 50px;
}
.editproductt h3, .editproductt h4{
    font-weight: 800;
}
.guide{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.large{
    display: flex;
    justify-content: space-between;
}
.large > *{
    background-color: #F3F3F3;
    padding: 10px 15px;
    border-radius: 10px;
}
.large > * :hover{
    border: 1px solid black;
    color: #FFE178;
}
.btnp{
   display: flex;
   align-items: center;
   gap: 20px;
}
.pb{
    background-color: #F3F3F3;
    display: flex;
    justify-content: space-between;
    padding: 10px 25px;
    align-items: center;
    border-radius: 30px;

}
.pb button{
    padding: 10px 35px;
    border: none;
   
}
.star{
    display: flex;
    gap: 10px;
    background-color: #F3F3F3;
    padding: 10px ;
    box-shadow: 1px 2px 3px 1px rgba(20,20,20,0.4);
   
}
.star a{
    text-decoration: solid;
}

.tubersflexx{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    padding: 20px 0;
    width: 100%;
   
   
 
}
.tubers{
    margin: 1px auto;
    width: 100%;
    gap: 40px;
    padding: 10px 0;
}
.view{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}
.sub{
    margin-top: 80px;
}
.cartt{
    height: 700px;
    background-color: #F3F3F3;
    width: 40%;
    margin: 50px auto;
    /* position: absolute;
    top: 50px;
    bottom: 50px;
    right: 50px;
    left: 300px; */
}
/* .bisolid{
    position: relative;
} */
.bi{
    /* position: absolute; */

}
.cartflex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cartflex .name{
    /* margin: 1px auto; */
    padding: 10px 0;
}
.pp{
    display: flex;
    background-color: #F3F3F3;
    justify-content: space-around;
    align-items: center;
    border-radius: 6px;
    color: green;
    
}
.pp button{
    border: transparent;
    

}

.mycart{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fish img{
    height: 300px;
    width: 400px;
}
button[variant= "checkout"]{
    width: 150px;
    padding: 10px;
    background-color: #FFE178;
    border: transparent;
   
}

@media screen and (max-width:780px) {
    .tubers > .tubersflexx{
        display: grid;
        width: 100%;
        grid-template-columns: 1fr;
    }
    .fish img{
        width: 100%;
        height: auto;
    }
    .free{
        width: 100%;

        margin: 20px;
    }
    .classclass{
        padding: auto;
    }

    .comp{
        width: 90%;
      

    }
    .editproduct{
        font-size: 10px;
    }
    .formflex{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
       
    }
    .formproduct{
        width: 100%;
        font-size: 8px;
        height: 1000px;
        padding: 1px auto;
        margin: auto;
        
    }
    .price{
        width: 100%;
        text-align: center;
        margin-left: 0px;
    }
    .finaladd{
        /* height: 1700px;
        margin-bottom: 50px; */
    }
    
    .btnflex{
        display: grid;
        grid-template-columns: 1fr;
        margin:0 02px;
        padding: 2px;
    }
    .img{
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;

    }
    
    .formproduct input{
        width: 100%;
    }
    .productsection{
        display: flex;
        margin: 0;
        padding: 0;
        gap: 0;
        width: 100%;
        
    }
    .cartt{
        width: 100%;
        /* margin: auto; */
    }
    .cartflex{
       font-size: 8px;
       /* width: 100%; */
       display: flex;
       justify-content: space-between;
       gap: 20px;
       padding: auto;

    }
    .mycart{
       font-size: 8px;
       /* width: 100%; */
       /* margin: 0; */

    }
    
}

